<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <!-- Disable tap highlight on IE -->
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>About</title>

    <link href="./static/main.d8e0d294.css" rel="stylesheet" />
  </head>
  {% include "partials/navbar.html" %}
  <body style="height: 100vh;">
    <div class="container" style="padding-top: 100px;">
        <div class="row">
          <div class="col-xs-12">
            <div class="card">
              <div class="card-block">
                <h2>About me</h2>
                <div class="row">
                  <div class="col-md-4">
                    <p><img src="./static/assets/images/img-10.jpg" class="img-responsive" alt="" /></p>
                  </div>
                  <div class="col-md-8">
                    <p>
                      <br>I grew up in Kolkata - The City of Joy,India.</p>
                      <p>
                      I graduated from Durgapur Institute of Advanced Technology and Management with specialization in Electronics & Communication Engineering(ECE) in the year 2021.
                      Currently I am working as a Project Engineer in Wipro Limited in DevOps domain.</p>
                    </p>
                    <p>
                      In my personal time I often prefer watching web series or playing games. I like to travel and getting to know about upcoming gadget technologies before sleep is like a sleeping pill to me.
                    </p>
                  </div>
                </div>
              </div>
            </div>
    <script src="/static/main.bc58148c.js"></script>
    
  </body>
</html>
