<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <!-- Disable tap highlight on IE -->
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>My Works</title>

    <link href="./static/main.d8e0d294.css" rel="stylesheet" />
  </head>
  {% include "partials/navbar.html" %}
  <body style="height: 100vh">
    <div class="card" style="padding-top: 100px;">
      <div class="card-block">
        <div class="row">
          <div class="col-md-4">
          <a href="https://weather-app-node-3.herokuapp.com/">  <img src="./static/assets/images/pro-2.jpg" class="project" alt="" /></a>
            <h3 class="h5">Weather Forecast App</h3>
            <p>January 2022</p>
          </div>
          <div class="col-md-4">
          <a href="https://chat-app-node-3.herokuapp.com/">  <img src="./static/assets/images/pro-3.jpg" class="project" alt="" /></a>
            <h3 class="h5">Chatting App</h3>
            <p>October 2021</p>
          </div>
          <div class="col-md-4">
          <a href="https://arp-covid-analysis.web.app/">  <img src="./static/assets/images/pro-4.png" class="project" alt="" /></a>
            <h3 class="h5">Covid Prediction</h3>
            <p>Nov 2022</p>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/main.bc58148c.js"></script>
  </body>
</html>
