<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <!-- Disable tap highlight on IE -->
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>About</title>

    <link href="./static/main.d8e0d294.css" rel="stylesheet" />
  </head>
  {% include "partials/navbar.html" %}
  <body style="height: 100vh">
    <script src="/static/main.bc58148c.js"></script>
  </body>
</html>
