<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <!-- Disable tap highlight on IE -->
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>Employment & Education</title>

    <link href="./static/main.d8e0d294.css" rel="stylesheet" />
  </head>
  {% include "partials/navbar.html" %}
  <body style="height: 100vh">
    <div class="card" style="padding-top: 100px;">
      <div class="card-block">
        <h2>Work</h2>
        <div class="work-experience">
          <small class="date">Present-2021</small>
          <h3 class="h5 date-title">Project Engineer - <a href="https://www.wipro.com/" title="Create professionnal website">Wipro</a></h3>

          <p>
            Project Engineer in Wipro Limited.
          </p>
          <p>
            Currently undergoing DevOps training and learning tools related to Continuous Integration and Continuous Deployment like Jenkins and Docker with Kubernetes.
            Hands on experience with MySQL and python programming language.
          </p>
        </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h2>Education</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="education-experience">
              <small class="date">2021-2017</small>
              <h3 class="h5 date-title">B.Tech (ECE)</h3>
              <p>Maulana Abul Kalam Azad University of Technology</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="education-experience">
              <small class="date">2017-2015</small>
              <h3 class="h5 date-title">Higher Secondary</h3>
              <p>Mansur Habibullah Memorial School</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="education-experience">
              <small class="date">2015</small>
              <h3 class="h5 date-title">Metrics Degree</h3>
              <p>South End School</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/main.bc58148c.js"></script>
  </body>
</html>
